@charset "UTF-8";

.section-3 {
    background-color: #565f77;
    .text {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #fff;
        font-size: 2.5rem;
        white-space: nowrap;
    }
}