@charset "utf-8";

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

@media all and (min-width: 400px) {
    html {
        font-size: 22px;
    }
}

@media all and (min-width: 600px) {
    html {
        font-size: 32px;
    }
}

button, input, textarea, select {
    outline: none;
}

button, a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}