@import url(../node_modules/normalize.css/normalize.css);
@import url(../node_modules/font-awesome/css/font-awesome.css);
@import url(../node_modules/fullpage.js/jquery.fullPage.css);
* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

@media all and (min-width: 400px) {
  html {
    font-size: 22px;
  }
}

@media all and (min-width: 600px) {
  html {
    font-size: 32px;
  }
}

button, input, textarea, select {
  outline: none;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}

.section .container {
  height: 100%;
  position: relative;
}

.menu {
  margin: 0;
  padding: 0;
  position: fixed;
  top: calc((100% - 60px) / 2 + 60px);
  left: 20px;
  list-style-type: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu li {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 30px;
}

.menu li:last-child {
  margin-bottom: 0;
}

.menu li.active {
  background-color: transparent;
  border: 2px solid #fff;
}

.menu li a {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-next {
  position: fixed;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.btn-next i {
  font-size: 48px;
}

.header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  z-index: 1;
}

.section-1 {
  background-color: #EA9292;
}

.section-1 .text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 2.5rem;
  white-space: nowrap;
}

.section-2 {
  background-color: #5cc2f1;
}

.section-2 .text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 2.5rem;
  white-space: nowrap;
}

.section-3 {
  background-color: #565f77;
}

.section-3 .text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 2.5rem;
  white-space: nowrap;
}
