@charset "utf-8";

@mixin clearfix() {
    &::after {
        content:"";
        display:table;
        clear:both;
    }
}

@mixin user-select($value: none) {
    -moz-user-select: $value;
    -ms-user-select: $value;
    -webkit-user-select: $value;
}